<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
    <link rel="stylesheet" href="../assets/fonts/css/all.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="container-fluid">
<!--Header-->
<header id="driverPageHeader" class="row position-relative text-black">
    <nav style="border:none!important;"
         class="navbar navbar-expand-lg bg-transparent border-bottom shadow-lg">
        <div class="container-fluid">
            <h1 class="text-uppercase text-primary mb-1">Easy Car Rental</h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul id="optionList" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li id="btnDriverSchedule" class="nav-item">
                        <a id="customer-nav" class="nav-link header-nav option-nav" href="#">Driver Schedule</a>
                    </li>

                    <li id="btnDriverInformation" class="nav-item">
                        <a id="item-nav" class="nav-link header-nav option-nav" href="#">Driver Information</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Driver Schedule-->
<main id="driverSchedule">hmhm,,,oyage eka karaganna ehenm....
    <section class="row justify-content-start">
        <div class="col-xl-3 col-lg-4 col-md-5 col-12 justify-content-center">
            <h1 id="myProfileHeader" style="font-size: 25px">Driver Schedule<i class="fa-solid fa-calendar-days"></i> </h1>
        </div>
    </section>

    <section class="row justify-content-center">
        <div class="form-group col-xl-2 col-lg-3 col-md-6 col-9 mb-3">
            <select id="cmbSelectDriver" style="font-size: 15px;" class="form-select" aria-label="Default select example">
                <option selected>Driver ID</option>
                <option>Driver NIC</option>
            </select>
        </div>

        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-9 mb-3">
            <input class="form-control" id="txtSearchDriverSchedule" type="text">
        </div>

        <div class="col-xl-2 col-lg-3 mb-3 col-md-3 col-8 text-center text-sm-center text-md-center text-lg-start text-xl-start justify-content-center">
            <button id="btnSearchDriverSchedule" type="button" class="btn btn-primary">Search Schedule</button>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-3 col-8 text-center text-sm-center text-md-center text-lg-start text-xl-start justify-content-center">
            <button id="btnSearchDriverClear" type="button" class="btn btn-secondary">Clear</button>
        </div>
    </section>

    <section class="row justify-content-center">
        <!--Driver Schedule Table-->
        <section class="d-flex flex-column h-50 col-11 col-xl-12 bg-white shadow-lg align-items-center
        pt-3 mt-4">
            <h3 class="text-center bg-primary p-2 text-light rounded-3 col-12 fs-4">Work Schedule</h3>
            <div class="row h-60 col-12 col-lg-12 rounded-2 table-responsive">
                <table id="tblDriverSchedule" class="table table-striped table-hover rounded-5 mb-4">
                    <thead class="text-white green-hd" style="background: #17377f;">
                    <tr>
                        <th>Driver ID</th>
                        <th>Driver Name</th>
                        <th>Rent ID</th>
                        <th>Car ID</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Customer Contact No</th>
                        <th>Pick Up Date</th>
                        <th>Pick Up Time</th>
                        <th>Return Date</th>
                        <th>Return Time</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>D001</td>
                        <td>Nethmi Hewage</td>
                        <td>R00-001</td>
                        <td>V001</td>
                        <td>Tharin Sandul</td>
                        <td>nethmihewage@gmail.com</td>
                        <td>076-3704725</td>
                        <td>2022-02-19</td>
                        <td>10:30 AM</td>
                        <td>2023-10-25</td>
                        <td>10:30 AM</td>
                        <td>Galle Town</td>
                    </tr>

                    <tr>
                        <td>D002</td>
                        <td>Nethmi Hewage</td>
                        <td>R00-001</td>
                        <td>V001</td>
                        <td>Tharin Sandul</td>
                        <td>nethmihewage@gmail.com</td>
                        <td>076-3704725</td>
                        <td>2023-10-30</td>
                        <td>10:30 AM</td>
                        <td>2022-02-25</td>
                        <td>10:30 AM</td>
                        <td>Galle Town</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>

</main>
</body>
</html>